h1{
    
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    

}
body{
    justify-content: center;
    align-items: center;
    text-align: center;
}




#btn{
    max-width: 150px;
    min-width: 50px;
    color: aqua;
    display: inline-block;
    background-color: black;
    border-radius: 10%;
    padding: 20px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;

    
}

.btn:active{
    color: green;
    transform: scale(0.98);
}