*{
	padding: 0px;
	margin: 0px;
}
.main1 select{
/*transform: translateX(80px);*/
	margin:10px;
    color: gray;
	border: none;
	outline: none;
	/*border-right: 1px solid gray*/
}

 .main1 .vr{
	border-right: 1px solid gray;
	padding-left: 100px;
	transform: translateY(-5px);
	color: gray;
	font-size: 13px;

}
.vr2{
	padding-left: 20px;
	transform: translateY(-5px);
	color: gray;
	font-size: 15px;

}
hr{
transform: translate(0px,-7px);
background-color:  4px solid gray

}
nav{
	height: 40px;
	width: 100%;
	display: inline-block;
padding-top: 20px;
    padding-left: 200px;

}
.after::after{
	content: 'HOT';
	color:white;
	background-color: red;
	font-size: 15px
}
.after,.one,.onee{
	float: left;
	text-decoration: none;
    list-style-type: none;
    padding-left: 20px;
    font-size: 20px


}
.one:hover{
	color: tomato;
	cursor: pointer;
}

.main2 input{
display: inline-block;

}
.main2 select{
	border:none;
	outline: none;
	color: 4px solid black;
	font-size: 15px;
	background-color: transparent;
	text-transform: uppercase;
	display: inline-block;

}
#img-section{
	background-image: url(2.jpg);
	background-attachment: scroll;
	background-size: cover;
    height: 500px;
    width: 100%;
}
.sec2{
	height: 200px;
	width: 400px;
	border-radius:5%; 
	background-color: rgba(0,0,255,0.6);
	transform: translate(700px,150px);
}

.sec2 p,h1,h4{
	padding-top: 20px;
	padding-left: 10px

}


.sec2 button{
	margin-top: 20px;
	margin-left: 10px;
	height: 30px;
	cursor: pointer;
	outline: none

}

.blue {
	height: 50px;
	width: 100%;
	background-color: rgba(0,0,255,1);
}
.blu{
	background-image: url(task.png);
	height: 500px;
	width: 100%;

}
.blur{
	background-image: url(capture.png);
	height: 700px;
	width: 100%;
	padding-left: 10px;
	transform: translateX(10px);
	
}
.blur p{
	color:red;
}
.h::after{
	content: '';
	position: absolute;
	border-left: 50px solid white;
	border-right: 50px solid white;
	border-top: 80px solid white;
	border-bottom: 80px solid white;
	transform: translate(1170px ,620px);
}

.bluee {
	height: 60px;
	width: 100%;
	background-color: rgba(0,0,255,1);
}

.onee::before{
	content: '';
	border-left: 8px solid white;
	border-bottom: 30px solid white;
	border-right: 8px solid white;
	border-top: 5px solid white;
    position: relative;
    transform: translate(0,10px);
}

.onee::after{
	content: '';
	border-left: 8px solid white;
	border-bottom: 30px solid white;
	border-right:8px solid white;
	border-top: 5px solid white;

}

.one img{
	height: 50px;
	width: 40px;
	transform: translateY(-10px);

}

.one img:hover{
	background-color: black;
	color: red
}
